<div class="celebrity-card__data"
  [ngStyle]="{'background': 'linear-gradient(90deg, rgba(60, 187, 180, 0.8) '+votes.positive*100/(votes.positive+votes.negative)+'%, rgba(249, 173, 29, 0.8) '+votes.positive*100/(votes.positive+votes.negative)+'%)'}">
  <div aria-label="thumbs up">
    <img src="assets/img/thumbs-up.svg" alt="thumbs up" loading="lazy" />
    <span class="percentage-number">{{ (votes.positive/(votes.positive+votes.negative) | percent) }}</span>
  </div>
  <div aria-label="thumbs down">
    <img src="assets/img/thumbs-down.svg" alt="thumbs down" loading="lazy" />
    <span class="percentage-number">{{ (votes.negative/(votes.positive+votes.negative) | percent) }}</span>
  </div>
</div>
