<!-- <div class="celebrity-card" [ngStyle]="{'background-image': 'url(/assets/img/'+celebrity.picture+')'}"> -->
<div class="celebrity-card__content">
  <div class="celebrity-card__info">
    <div class="celebrity-card__info__header">
      <button
        *ngIf="celebrity.votes.positive*100/(celebrity.votes.positive+celebrity.votes.negative) > celebrity.votes.negative*100/(celebrity.votes.positive+celebrity.votes.negative)"
        class="icon-button reaction-button reaction-button__most" aria-label="thumbs up">
        <img src="assets/img/thumbs-up.svg" alt="thumbs up" loading="lazy" />
      </button>
      <button
        *ngIf="celebrity.votes.positive*100/(celebrity.votes.positive+celebrity.votes.negative) < celebrity.votes.negative*100/(celebrity.votes.positive+celebrity.votes.negative)"
        class="icon-button reaction-button reaction-button__most" aria-label="thumbs down">
        <img src="assets/img/thumbs-down.svg" alt="thumbs down" loading="lazy" />
      </button>
      <h2 class="celebrity-card__title celebrity-card__title__padding">{{celebrity.name}}</h2>
    </div>
    <p class="celebrity-card__desc celebrity-card__item__padding">{{celebrity.description}}</p>
    <p *ngIf="!bAlreadyVote" class="celebrity-card__time celebrity-card__item__padding">
      {{(celebrity.lastUpdated | dfnsParseIso) | dfnsFormatDistanceToNow}} in <span
        class="celebrity-card__categ">{{celebrity.category}}</span>
    </p>
    <p *ngIf="bAlreadyVote" class="celebrity-card__time celebrity-card__item__padding">Thank you for your vote!</p>
    <div class="celebrity-card__buttons celebrity-card__item__padding">
      <button *ngIf="!bAlreadyVote" (click)="selectVoteUp()" class="icon-button reaction-button" aria-label="thumbs up"
        [ngClass]="{'selected-reaction':selectedVote === 1}">
        <img src="assets/img/thumbs-up.svg" alt="thumbs up" loading="lazy" />
      </button>
      <button *ngIf="!bAlreadyVote" (click)="selectVoteDown()" class="icon-button reaction-button" aria-label="thumbs down"
        [ngClass]="{'selected-reaction':selectedVote === -1}">
        <img src="assets/img/thumbs-down.svg" alt="thumbs down" loading="lazy" />
      </button>
      <button *ngIf="!bAlreadyVote" (click)="vote()" class="celebrity-button" aria-label="vote now" [disabled]="!selectedVote">
        Vote Now
      </button>
      <button *ngIf="bAlreadyVote" (click)="voteAgain()" class="celebrity-button" aria-label="vote again">
        Vote Again
      </button>
    </div>
  </div>
  <div class="celebrity-card__data"
    [ngStyle]="{'background': 'linear-gradient(90deg, rgba(60, 187, 180, 0.8) '+celebrity.votes.positive*100/(celebrity.votes.positive+celebrity.votes.negative)+'%, rgba(249, 173, 29, 0.8) '+celebrity.votes.positive*100/(celebrity.votes.positive+celebrity.votes.negative)+'%)'}">
    <div aria-label="thumbs up">
      <img src="assets/img/thumbs-up.svg" alt="thumbs up" loading="lazy" />
      <span class="percentage-number">{{ (celebrity.votes.positive/(celebrity.votes.positive+celebrity.votes.negative)
        |
        percent) }}</span>
    </div>
    <div aria-label="thumbs down">
      <img src="assets/img/thumbs-down.svg" alt="thumbs down" loading="lazy" />
      <span class="percentage-number">{{ (celebrity.votes.negative/(celebrity.votes.positive+celebrity.votes.negative)
        |
        percent) }}</span>
    </div>
  </div>
</div>
<!-- </div> -->
