<div class="celebrity-card__list__content">
  <button
    *ngIf="celebrity.votes.positive*100/(celebrity.votes.positive+celebrity.votes.negative) > celebrity.votes.negative*100/(celebrity.votes.positive+celebrity.votes.negative)"
    class="icon-button reaction-button reaction-button__list__most" aria-label="thumbs up">
    <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
  </button>
  <button
    *ngIf="celebrity.votes.positive*100/(celebrity.votes.positive+celebrity.votes.negative) < celebrity.votes.negative*100/(celebrity.votes.positive+celebrity.votes.negative)"
    class="icon-button reaction-button reaction-button__list__most" aria-label="thumbs down">
    <img src="assets/img/thumbs-down.svg" alt="thumbs down" loading="lazy" />
  </button>
  <div class="celebrity-card__list__info">
    <div class="celebrity-card__list__text">
      <h2 class="celebrity-card__list__title">{{celebrity.name}}</h2>
      <p class="celebrity-card__list__desc">{{celebrity.description}}</p>
    </div>
    <div class="celebrity-card__list__actions">
      <p *ngIf="!bAlreadyVote" class="celebrity-card__time">
        {{(celebrity.lastUpdated | dfnsParseIso) | dfnsFormatDistanceToNow}} in <span
          class="celebrity-card__categ">{{celebrity.category}}</span>
      </p>
      <p *ngIf="bAlreadyVote" class="celebrity-card__time">Thank you for your vote!</p>
      <app-celebrity-card-buttons [celebrity]="celebrity" [celebritys]="celebritys" (bAlreadyVoteValue)="changeAlreadyVoteValue($event)"></app-celebrity-card-buttons>
    </div>
  </div>
  <app-gauge-bar [votes]="celebrity.votes"></app-gauge-bar>
</div>
