<app-navbar></app-navbar>
<app-header></app-header>
<div class="max-centered">
  <app-banner-top></app-banner-top>
  <main role="main">
    <!-- Start: Implementation -->
    <!-- 👉 Your code goes here 👈 -->
    <div class="celebrity-section__header">
      <h2 class="celebrity-section__title">Previous Rulings</h2>
      <div class="select">
        <select id="standard-select">
          <option value="grid">Grid</option>
          <option value="list">List</option>
        </select>
      </div>
    </div>
    <div class="celebrity-card__container">
      <!-- <app-celebrity-grid-card *ngFor="let celebrity of celebritys" [celebrity]="celebrity" class="celebrity-card"
        [ngStyle]="{'background-image': 'url(/assets/img/'+celebrity.picture+')'}">
      </app-celebrity-grid-card> -->
      <app-celebrity-list-card *ngFor="let celebrity of celebritys" [celebrity]="celebrity" class="celebrity-card__list"
        [ngStyle]="{'background-image': 'url(/assets/img/'+celebrity.picture+')'}"></app-celebrity-list-card>
    </div>
    <!-- End: Implementation -->
  </main>
  <app-banner-bottom></app-banner-bottom>
  <app-footer></app-footer>
</div>
